In [13]:
import pandas as pd

#загружаем большую табиличку на 13580 строк
real_data = pd.read_csv('data/melb_data.csv')
#Table:
#index          — номер строки
#Suburb         — наименование пригорода
#Address        — адрес
#Rooms          — количество комнат в помещении
#Type           — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
#Price          — цена помещения
#Method         — метод продажи 
#ellerG         — риэлторская компания
#Date           — дата продажи (в формате день/месяц/год)
#Distance       — расстояния до объекта от центра Мельбурна 
#Postcode       — почтовый индекс
#edroom         — количество спален
#Bathroom       — количество ванных комнат
#Car            — количество парковочных мест
#Landsize       — площадь прилегающей территории
#BuildingArea   — площадь здания
#YearBuilt      — год постройки
#CouncilArea    — региональное управление
#Lattitude      — географическая широта
#Longitude      — географическая долгота
#Regionname     — наименование района Мельбурна
#Propertycount  — количество объектов недвижимости в районе, выставленных на продажу
#Coordinates    — широта и долгота, объединённые в кортеж

#type(real_data))
#<class 'pandas.core.frame.DataFrame'>
value_str = len(real_data)

one_house = real_data.iloc[3521]
two_house = real_data.iloc[1690]
display(one_house.loc[['Landsize']])
display(two_house.loc[['Landsize']])

Landsize    234.0
Name: 3521, dtype: object

Landsize    84.0
Name: 1690, dtype: object

In [9]:
import pandas as pd
real_data = pd.read_csv('data/melb_data.csv')

#выводим первые две строки и посление две строки
display(real_data.head(n=4))
display(real_data.tail(n=2))
#выводим размерность таблицы, кол строк и кол столбцов 
line, column = real_data.shape
print(f'Количество строк в таблице равно {line}, количество столбцов в таблице равно {column}')
#выводим информацию по столбцам
real_data.info()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

Количество строк в таблице равно 13580, количество столбцов в таблице равно 23
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [17]:
#изменение типа данных в столбце
import pandas as pd

#загружаем большую табиличку на 13580 строк
melb_data = pd.read_csv('data/melb_data.csv')


melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
#melb_data.info()

#это прям по всей таблице
#melb_data.describe()
melb_data.describe(include=['object'])

#частота уникальных значений в столбце
melb_data['Regionname'].value_counts()

melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [15]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
data.shape

(3, 2)